.digitBox {
    display: inline-block;
    
    font-size: 70px;
    line-height: 60px;
    background: #252525;
    color: white;
    padding: 10px;
    margin:15px;
    border: solid 1px color(rgb(49, 43, 43));
    border-radius: 5%;
}